[submodule "libs/clap"]
	path = libs/clap
	url = https://github.com/free-audio/clap
[submodule "libs/clap-helpers"]
	path = libs/clap-helpers
	url = https://github.com/free-audio/clap-helpers
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "libs/tuning-library"]
	path = libs/tuning-library
	url = https://github.com/surge-synthesizer/tuning-library
